
.header{
  font-size: 30px;
}

.container{
  margin: 200px 0px 0px 0px;
  width: 100%;
}

#product-container{
width: 50%;
float: left;
padding: 50px;
}

#thumbnail img{
  width: 100px;
  background-color: red;
}

#product-description{
  padding: 50px;
  float:right;
  width: 50%;
  right: 0;
}
#text-description{
  font-size: 24px;
  margin-top: 20%;
}
#gallery{
  max-width: 100%;
}
.qrcode{
  width: 50px;
}
