

#footer{
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 250px;
  background-color: white;
  color: black;
  padding: 0 2em 0;
  z-index: 10;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footText{
  padding: 10px 30px 10px 30px;
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: left;

}
.footText p{
  margin: 5px;
}

#footerwrapper {
  width: 70%;
  margin: 0 auto;

}
