
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 120;
  color: #244751;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

img#gallery{
  max-width: 250px;
  max-height: 250px;
  position: relative;
  padding: 10px;
}

ul{
  display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;
    
    
}