.nav-bar{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* flex: 1; */
  width: 100%;
  top: 0;
  position: fixed;
  height: 100px;
  background-color: white;
  z-index: 100;
  padding: 2em;
}


.nav-bar li{
  font-size: 16px;
  list-style: none;
  padding-right: 2em;
  padding-bottom: 0px;
}

.nav-bar li a:link, a:visited{
  font-size: 16px;
  text-decoration: none;
  color: black;
  float: right;
}

.nav-bar .logo{
  width: 140%;
  float:left;
}

.nav-bar a {
  width: 100px;
}

li.nav-item.right {
  float: right;
}